<section class="main-content">
    <div class="home-nav"><span>:</span> HOME</div>

    <div class="scroll-wrapper">
        
        <div class="img-block" style="--c: 1; --s: 5; --t: 40px; opacity: 0.8;">
            <img src="images/signature_02.jpeg">
        </div>

        <div class="img-block" style="--c: 6; --s: 7; --t: 0px;">
            <img src="images/Diplopia_01.jpg">
            <p class="caption">Diplopia 01</p>
        </div>

        <div class="img-block" style="--c: 1; --s: 3; --t: 80px;">
            <img src="images/Diplopia_02.jpg">
        </div>
        <div class="img-block" style="--c: 5; --s: 2.5; --t: 80px;">
            <img src="images/Diplopia_03.jpg">
        </div>
        <div class="img-block" style="--c: 9; --s: 4; --t: 80px;">
            <img src="images/Diplopia_04.jpg">
        </div>

        <div class="img-block" style="--c: 2; --s: 4; --t: 120px;">
            <img src="images/Artisan_01.jpg"><p class="caption">Artisan 01</p>
        </div>
        
        <div class="img-block" style="--c: 7; --s: 2.5; --t: 120px;">
            <img src="images/Artisan_02.jpg">
        </div>
        <div class="img-block" style="--c: 10; --s: 2.5; --t: 120px;">
            <img src="images/Artisan_03.jpg">
        </div>

        <div class="img-block" style="--c: 8; --s: 3; --t: -80px; --z: 10;">
            <img src="images/Artisan_04.jpg">
        </div>

        <div class="img-block" style="--c: 2; --s: 3; --t: 100px;"><img src="images/Proj_02.jpg"></div>
        <div class="img-block" style="--c: 8; --s: 4; --t: 100px;"><img src="images/Proj_07.jpg"></div>
        
        <div class="img-block" style="--c: 2; --s: 2; --t: 40px;"><img src="images/Proj_03.jpg"></div>
        <div class="img-block" style="--c: 4.5; --s: 2; --t: 40px;"><img src="images/Proj_04.jpg"></div>
        <div class="img-block" style="--c: 7; --s: 2; --t: 40px;"><img src="images/Proj_05.jpg"></div>

        <div class="img-block" style="--c: 4; --s: 8; --t: 100px; background: rgba(0,0,0,0.02); padding: 40px; border-radius: 12px;">
            <div style="width: 75%; margin: 0 auto;"><img src="images/Proj_06.jpg"></div>
            <p class="caption" style="text-align: center;">Proyecto 01</p>
        </div>

        <div class="img-block" style="--c: 2; --s: 4; --t: 120px;"><img src="images/Swim_04.jpg"></div>
        <div class="img-block" style="--c: 7; --s: 1.5; --t: 120px;"><img src="images/Swim_03.jpg"></div>
        <div class="img-block" style="--c: 9; --s: 3.5; --t: 120px;"><img src="images/Swim_01.jpg"></div>

        <div class="img-block" style="--c: 2; --s: 5; --t: 80px;"><img src="images/Swim_06.jpg"></div>
        <div class="img-block" style="--c: 5; --s: 3.5; --t: -140px; --z: 20;"><img src="images/Swim_05.jpg"></div>
        
        <div class="img-block" style="--c: 9; --s: 3; --t: 20px;"><img src="images/Swim_02.jpg"></div>

    </div>
</section>
